* {
    padding: 0;
    margin: 0;
    font-family: Oswald-Medium, sans-serif;
    font-size: 16px;
    transition: all 0.3s ease-out;
}

@font-face {
    font-family: Oswald-Bold;
    src: url("../assets/fonts/Oswald-Bold.ttf");
}

@font-face {
    font-family: Oswald-ExtraLight;
    src: url("../assets/fonts/Oswald-ExtraLight.ttf");
}

@font-face {
    font-family: Oswald-Light;
    src: url("../assets/fonts/Oswald-Light.ttf");
}

@font-face {
    font-family: Oswald-Medium;
    src: url("../assets/fonts/Oswald-Medium.ttf");
}

@font-face {
    font-family: Oswald-Regular;
    src: url("../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: Oswald-SemiBold;
    src: url("../assets/fonts/Oswald-SemiBold.ttf");
}