/* New campaign */
section {
    background-color: #F8F8F8;
}

section .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.setup-campaign-text {
    font-size: 3rem;
    text-align: center;
}

.campaign-name, .campaign-description, .start-date-and-time, .end-date-and-duration, .donate-amount, .confirm-create {
    width: 50%;
}

input {
    border-radius: 0.5rem;
    border: 1px #000 solid;
}

input:focus {
    border-color: #0033AD;
    outline: 3px #0033AD solid;
}

.campaign-name input, .campaign-description input, .donate-amount input {
    width: 95%;
    padding: 0.8rem 2.2rem;
    margin-bottom: 0.3rem;
}

.campaign-name p, .campaign-description p, .start-date-and-time p, .end-date-and-duration p {
    font-size: 1.3rem;
    margin-bottom: 0.3rem;
}

.name-description .note {
    font-size: 0.8rem;
    margin-bottom: 0rem;
    opacity: 0.7;
}

.name-description, .start-end {
    margin-bottom: 1rem;
}

.start-date-and-time>div, .end-date-and-duration>div {
    display: flex;
    gap: 2rem;
}

.start-date-and-time>div>*, .end-date-and-duration>div>* {
    width: 35%;
    padding: 0.8rem 2.2rem;
    font-size: 1.3rem;
}

.donate-amount .amount {
    margin: 0;
}

.confirm-create button {
    width: 45%;
    padding: 0.8rem 2.2rem;
    border-radius: 0.5rem;
    border: 1px #000 solid;
}

.confirm-create .create {
    position: relative;
    color: #ffffff;
    background-color: #0033AD;
    margin-right: 5%;
    overflow: hidden;
    cursor: pointer;
}

.confirm-create .create::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: left 0.5s ease;
    z-index: -1;
}

.confirm-create .create:hover::before {
    left: 0;
}

.confirm-create .create:hover {
    color: #0033AD;
}

.confirm-create .create {
    z-index: 2;
}

.confirm-create .cancel {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
}

.confirm-create .cancel::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #dfdfdf;
    transition: left 0.5s ease;
    z-index: -1;
}

.confirm-create .cancel:hover::before {
    left: 0;
}

.confirm-create .cancel {
    z-index: 2;
}

/* New campaign */

/* My campaigns */
h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.my_campaigns div.container-1 > div {
    margin-bottom: 3rem;
}

.total-campaigns-and-donate-and-donors > div > div:nth-child(1) > :nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.total-campaigns-and-donate-and-donors > div > div:nth-child(1) > :nth-child(2) {
    display: flex;
    width: 60%;
}

.total-campaigns-and-donate-and-donors > div > div:nth-child(1) {
    height: 10rem;
}

.total-campaigns-and-donate-and-donors > div > div {
    display: flex;
}

.total-campaigns-and-donate-and-donors > div > div > div p {
    color: #fff;
}

.total-campaigns-and-donate-and-donors > div > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-right: 2rem;
}

.total-campaigns-and-donate-and-donors > div > div > div:nth-child(2) p:nth-child(1) {
    font-size: 3rem;
    margin-bottom: 0.3rem;
}

.view-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 2.2rem;
    cursor: pointer;
    background-color: #fff;
}

.view-details:hover {
    transform: scale(1.1);
    box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 0px 29px 0px rgba(0,0,0,0.46);
}

.view-details p {
    font-size: 1.3rem;
    margin-bottom: 0;
}

.view-details i {
    font-size: 1.3rem;
    height: 1.3rem;
}

.total-campaigns-and-donate-and-donors {
    display: flex;
    gap: 3rem;
}

.total-campaigns-and-donate-and-donors > div {
    flex: 1;
}

.total-campaigns {
    border: 2px #5DB75D solid;
    border-radius: 0.5rem;
}

.total-campaigns-main {
    background-color: #5DB75D;
}

.total-campaigns .view-details * {
    color: #5DB75D;
}

.total-campaigns .view-details {
    border: 2px #5DB75D solid;
    border-radius: 0 0 0.4rem 0.4em;
}

.total-donate {
    border: 2px #0033AD solid;
    border-radius: 0.5rem;
}

.total-donate-main {
    background-color: #0033AD;
}

.total-donate .view-details * {
    color: #0033AD;
}

.total-donate .view-details {
    border: 2px #0033AD solid;
    border-radius: 0 0 0.4rem 0.4rem;
}

.total-donors {
    border: 2px #663398 solid;
    border-radius: 0.5rem;
}

.total-donors-main {
    background-color: #663398;
}

.total-donors .view-details * {
    color: #663398;
}

.total-donors .view-details {
    border: 2px #663398 solid;
    border-radius: 0 0 0.4rem 0.4rem;
}

.all-my-campaigns {
    background-color: #fff;
    box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
}

.all-my-campaigns p, .recent-donations p {
    margin: 0;
}

.all-my-campaigns-text, .all-my-campaigns-main, .recent-donations-text, .recent-donations-main {
    width: 96%;
    padding: 1.5rem 2.2rem;
    border-bottom: 2px #000 solid;
}

.all-my-campaigns-text p, .recent-donations-text p {
    font-size: 1.3rem;
}

.all-my-campaigns-main, .recent-donations-main {
    border: none;
}

.create-new-campaign {
    position: relative;
    text-decoration: none;
    margin-top: 0.8rem;
    padding: 1rem 2.2rem;
    color: #fff;
    background-color: #0033AD;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 0;
    transition: all 0.3s ease;
}

.create-new-campaign::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #fff;
    z-index: -1;
    transition: all 0.3s ease
}

.create-new-campaign:hover {
    color: #0033AD;
    transform: scale(1.1);
    box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    z-index: 2;
}

.create-new-campaign:hover::before {
    left: 0;
}

.recent-donations {
    background-color: #fff;
    box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
}

.recent-donations-main {
    padding: 0.8rem 2.2rem;
}

.recent-donations-main-category {
    border-bottom: 2px #000 solid;
}

.recent-donations-main-category div {
    flex: 1;
}

.recent-donations-main-category div p {
    padding: 0 0.8rem;
}

.recent-donations-main > div {
    padding: 0.8rem 0;
}
/* My campaigns */

/* Transactions */
.view-all-transaction {
    padding: 0 2.2rem;
    background-color: #fff;
    box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -webkit-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    -moz-box-shadow: 1px 0px 9px 2px rgba(0,0,0,0.46);
    margin-bottom: 1rem;
}

.view-all-transaction-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px #000 solid;
}

.view-all-transaction-text p {
    font-size: 1.25rem;
    margin: 0;
}

.view-all-transaction-filter-button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background-color: #fff;
    border: 2px #0033AD solid;
    border-radius: 0.5rem;
    cursor: pointer;
    z-index: 0;
}

.view-all-transaction-filter-button:hover {
    background-color: #0033AD;
}

.view-all-transaction-filter-button:hover > p, .view-all-transaction-filter-button:hover > i {
    color: #fff;
    z-index: 2
}

.view-all-transaction-filter-button:hover ul {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.view-all-transaction-filter-button li {
    width: 100%;
}

.view-all-transaction-filter-button li p {
    text-align: end;
}

.view-all-transaction-filter-button > p {
    margin-right: 1rem;
    color: #0033AD;
}

.view-all-transaction-filter-button i {
    color: #0033AD;
}

.view-all-transaction-filter-button ul {
    position: absolute;
    list-style: none;
    top: 100%;
    right: 0;
    width: max-content;
    padding: 0;
    background-color: #fff;
    border: 1px #000 solid;
    border-radius: 0.5rem;
    display: none;
}

.view-all-transaction-filter-button ul li {
    padding: 0.8rem 1.5rem;
}

.view-all-transaction-filter-button ul li:hover {
    width: 100%;
    background-color: #0033AD;
}

.view-all-transaction-filter-button ul li:hover p {
    color: #fff;
}

.view-all-transaction-main {
    padding: 1.8rem 0;
}

.no-transaction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-transaction > :nth-child(1), .no-transaction > :nth-child(2) {
    font-size: 2.2rem;
}

.no-transaction > :nth-child(3) {
    font-family: Oswald-Light, sans-serif;
}

.no-transaction p {
    margin: 0;
}

.check-details, .check-details * {
    font-family: Oswald-Light, sans-serif;
}

.check-details * {
    text-decoration: none;
}
/* Transactions *